.elements {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 880px;
  margin-bottom: 47px;
}

@media screen and (max-width: 901px) {
  .elements {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .elements {
    max-width: 320px;
    margin-bottom: 48px;
  }
}
