.popup-cards__container-plus {
  width: 430px;
  background-color: white;
  color:black;
  z-index: 4;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 460px) {
  .popup-cards__container-plus {
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .popup-cards__container-plus {
    max-width: 282px;
  }
}
